// Place all the styles related to the vinyls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// typography variables
$font-main: 'Heebo', sans-serif;
$font-weight-headings: 900;
$font-weight-body: 400;
$font-weight-light: 300;

h1, h2 {
  font-weight: $font-weight-headings;
}

body { 
  font-weight: $font-weight-body;
  background-image: url('seigaiha.png');
}

h2 {
  color: #555;
}

h5 {
  font-style: italic;
}

.hero-image {
  background-image: image-url('record-336626_1920.jpg');
  height: 42em;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.navbar-fixed-top {
  border:0;
}

/* sample animated css */

// html, body {
//   height: 100%
// }

// body {
//   display: flex
//   justify-content: center
//   align-items: center
//   background: #FAFAFA
// }

button.hover-feature {
  padding: 20px 40px;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;

  &:after, &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #000;
    transition: transform .2s;
    } 
  &:after {
    transform: translate(3px, 3px);  
  }
  &:before {
    transform: translate(-3px, -3px);
  }
  &:hover {
    &:after, &:before {
      transform: translate(0);
    }
  }
}