// Place all the styles related to the vinyls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// typography variables
$font-main: 'Heebo', sans-serif;
$font-weight-headings: 900;
$font-weight-body: 400;
$font-weight-light: 300;

$blue: #0645AD;
$red: #F00;
$yellow: #FF0;
$grey: #555;

$link-color: $blue;

a {
  color: $link-color;
}

h1, h2 {
  font-weight: $font-weight-headings;
}

body { 
  font-weight: $font-weight-body;
  background-image: url('seigaiha.png');
}

h2 {
  color: $grey;
}

h5 {
  font-style: italic;
}

.hero-image {
  background-image: image-url('record-336626_1920.jpg');
  height: 42em;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.navbar-fixed-top {
  border:0;
}

.locations {
  position: relative;
}

.indent {
  padding-left: 20px;
}


